/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/nanoseq -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    dataset_csv               = 'https://raw.githubusercontent.com/nfellaby/hydrasim/dev/test/test_data/test_datasets_for_hcid_and_respiratory.csv'
    reference_csv             = 'https://raw.githubusercontent.com/nfellaby/hydrasim/dev/test/test_data/test_hcid_accessions.csv'
    skip_demultiplexing = true
    skip_fusion_analysis= true
    skip_modification_analysis=true
}