/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a pipeline test.

    Use as follows:
        nextflow run nfellaby/hydrasim -profile test,docker

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'test dataset to check pipeline function'

    // Input data for full size test
    dataset_csv               = "${projectDir}/test/test_data/test_datasets_for_hcid_and_respiratory.csv"
    reference_csv             = "${projectDir}/test/test_data/test_hcid_accessions.csv"

}